.app {
  background-color: $white;
  // width: 100vw;
  min-height: 105vh;
  font-family: san-francisco, sans-serif;
  padding: 0 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  & > *:not(:first-child) {
    z-index: 1;
  }
}
