@font-face {
    font-family: san-francisco;
    src: url(../fonts/circular-std-medium-500.ttf);
}
@font-face {
    font-family: san-francisco-light;
    src: url(../fonts/sf/pro/SF-Pro-Display-Light.otf);
}
@font-face {
    font-family: san-francisco-bold;
    src: url(../fonts/sf/pro/SF-Pro-Display-Light.otf);
}

// Page-Title
h1 {
    font-size: rem(36px) ;
    line-height: rem(48px) ;
}

h2 {
    font-size: rem(28px);
    line-height: rem(36px);
    text-transform: capitalize;
}

h3 {
    font-size: rem(20px);
    line-height: rem(24px);
    text-transform: capitalize;
}

h4 {
    // font-size: rem(18px);
    font-size: $fontSizeMedium;
    line-height: rem(24px);
    text-transform: capitalize;
}

h5 {
    font-size: rem(12px);
    line-height: rem(24px);
    letter-spacing: rem(1px);
    text-transform: capitalize;
}

h6 {
    font-size: rem(10px);
    line-height: rem(18px);
    letter-spacing: rem(1.2px);
    text-transform: capitalize;
}
